.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkboxSpan {
    color: var(--Almost-White, #E6E5EA);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body (M) */
    font-family: JetBrains Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 19px;
}

.customCheckbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin-right: 24px;

}

input[type="checkbox"]+.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid var(--Almost-White, #E6E5EA);
}

input[type="checkbox"]:hover+.checkmark {
    border-color: #a4ffaf;
}

input[type="checkbox"]:checked+.checkmark {
    border-color: #a4ffaf;
    background-color: #a4ffaf;
}

input[type="checkbox"]+.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

input[type="checkbox"]:checked+.checkmark::after {
    display: block;
}

input[type="checkbox"]+.checkmark::after {
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}