@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(180deg, #14131B 0%, #08070B 100%);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appTitle {
  color: var(--Grey, #817D92);
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;

  /* Heading (M) */
  font-family: JetBrains Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 31px;
}

.parameterContainer {
  width: 540px;
  height: 528px;
  flex-shrink: 0;
  background: var(--Dark-Grey, #24232C);

  padding: 24px 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}